#cbox1 {
    width: 100px;
    height: 40px;
    background-color: gray;
    border: 14px;
}
#cbox2 {
    width: 100px;
    height: 40px;
    background-color: gray;
    border: 14px;
}
#cbox3 {
    width: 100px;
    height: 40px;
    background-color: gray;
    border: 14px;
}
#cbox4 {
    width: 100px;
    height: 40px;
    background-color: gray;
    border: 14px;
}

